.cartview {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  .discount-tips {
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    opacity: 0.8;
  }
  .cartview-body {
    color: #fff;
    height: 96px;
    display: flex;
    padding-left: 158px;
    background: #444;
    .cartview-main {
      flex: 1;
      display: flex;
      flex-direction: column;
      .cartview-total {
        font-size: 36px;
      }
      .cart-delivery {
        color: #999;
      }
    }
    .submit-btn {
      width: 210px;
      text-align: center;
      line-height: 96px;
      font-size: 32px;
      color: #fff;
      background: #555;
    }
    .activity-btn {
      background: #4cd964;
    }
  }
  .activity-cart {
    background: #3190e8 !important;
    color: #f1f1f1 !important;  
  }
  .cart {
    height: 90px;
    width: 90px;
    border: 4px solid #666; /*no*/
    background: #333;
    position: absolute;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    text-align: center;
    line-height: 90px;
    color: #666;
    .badge {
      position: absolute;
      top: -10px;
      right: -10px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background: linear-gradient(-90deg, #ff7416, #ff3c15 98%);
      color: #fff;
      line-height: 40px;
      transform: scale(0.8);
    }
  }
}
.goods-wrap {
    position: relative;
  .goods-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    background: #eceff1;
    border-bottom: 1px solid #ddd; /*no*/
    color: #666;
    .header-text {
      font-size: 30px;
      padding: 0 40px;
    }
    .clear-all {
      font-size: 26px;
      padding: 0 40px;
    }
  }
  .goods-list {
      max-height: 500px;
      overflow: auto;
      .goods-item{
        padding: 24px 41px;
        .goods-spec{
            padding: 5px 0 0;
            color:#666;
        }
      }
    .goods {
      display: flex;
      justify-content: space-between;
      color: #333;
      font-size: 30px;
      .name {
        flex: 2;
        overflow: hidden; 
        text-overflow:ellipsis; 
        white-space: nowrap;
      }
      .price {
        flex: 1;
        color: #f60;
        text-align: right;
      }
      .quantity {
        flex: 1;
        text-align: right;
        .goods-num{
            display: inline-block;
            width: 30px;
            margin:0 10px;
        }
        .add-cart-btn,
        .decrease-cart-btn {
          display: inline-block;
          height: 38px;
          width: 40px;
          line-height: 40px;
          text-align: center;
          font-size: 32px;
          border-radius: 50%;
          border: 1px solid #0af; /*no*/
        }
        .add-cart-btn {
          background: #0af;
          color: #fff;
        }
      }
    }
  }
  .box {
    height: 100px;
  }
}

:global{
  .icon-cartfill::before {
    font-size: 70px;
  }
}