.item-wrap{
    border-bottom: 2px solid #f1efef ; 
    padding: 20px;
    .shop-item{
        display: flex;
        color:#666;
        .shop-img{
            width: 128px;
            height: 128px;
            margin-right: 20px;
            border: 1px solid #777;
            img{
                width: 128px;
                height: 128px;
            }
        }
        .shop-info{
            display: flex;
            flex:1;
            flex-direction: column;
            justify-content: space-between;
            .shop-title{
                display: flex;
                justify-content: space-between;
                .title{
                    font-size: 28px;
                    font-weight: 700;
                    color:#333;
                }
                .top-right{
                    display: flex;
                }
            }
            .shop-rate{
                display: flex;
                justify-content: space-between;
                .shop-rate-left{
                    display: flex;
                   
                }
                .shop-rate-right{
                    display: flex;
                    
                }
            }
            .distribution-info{
                display: flex;
                justify-content: space-between;
                .distribution-left{
                    
                }
                .distribution-right{
                    
                   
                }
            }
        }
    }
}

