.item-wrap{
    border-bottom: 2px solid #f1efef ; 
    padding: 20px;
    .shop-item{
        display: flex;
        color:#666;
        .shop-img{
            width: 128px;
            height: 128px;
            margin-right: 20px;
            border: 2px solid rgb(211, 209, 209);
            img{
                width: 128px;
                height: 128px;
            }
        }
        .shop-info{
            display: flex;
            flex:1;
            flex-direction: column;
            justify-content: space-between;
            font-size:10px;
            .shop-title{
                display: flex;
                justify-content: space-between;
                .title{
                    font-size: 28px;
                    font-weight: 700;
                    color:#333;
                }
                .top-right{
                    display: flex;
                    .ad{
                        height: 32px;
                        border:2px solid #dbd8d8;
                        font-size: 12px;
                        text-align: center;
                        color:rgb(177, 176, 176);
                        transform: scale(0.7);
                        margin: 0 -4px;
                    }
                    .support{
                        height: 32px;
                        width: 32px;
                        border:2px solid #dbd8d8;
                        font-size: 12px;
                        text-align: center;
                        margin: 0 -4px;
                        transform: scale(0.7)
                    }
                }
            }
            .shop-rate{
                display: flex;
                justify-content: space-between;
                .shop-rate-left{
                    display: flex;
                   
                }
                .shop-rate-right{
                    display: flex;
                    .delivery{
                        height: 32px;
                        font-size: 12px;
                        padding: 0 6px;
                        margin-right:-14px; 
                        transform: scale(0.7)
                    }
                    
                }
            }
            .distribution-info{
                display: flex;
                justify-content: space-between;
                .distribution-left{
                    
                }
                .distribution-right{
                    
                   
                }
            }
        }
    }
}

