.activity-sheet{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index:998;
    .sheet-shade{
         flex: 1;
         background: #000;
         opacity: 0.6;
    }
    .sheet-comment{
        padding: 40px 0;
        background: #fff;
        position: relative;
        .close-tag{
            position: absolute;
            top:20px;
            right: 20px;
            height: 40px;
            width: 40px;
            .icon-close::before{
                font-size: 40px;
            }
        }
        .sheet-title{
            text-align: center;
            margin-bottom: 30px;
            font-size: 30px;
        }
        .sheet-list{
            max-height: 600px;
            min-height:400px;
            overflow: auto;
        }
    }
}