$gary1: #efeeec;
$gary2: #f7f6f5;
.shop-menu-wrap {
  border-top: 1px solid $gary1;
  /*no*/
  -webkit-text-size-adjust: none;
  color: #333;
  flex: 1;
  .specpanle{
    background: #fff;
    padding: 20px;
  }
  .main {
    height: 100%;
    overflow: hidden;
    display: flex;
  }
  .shop-main-menu {
    width: 170px;
    overflow: auto;
    .activity-menu {
      background: #fff !important;
    }
    .main-menu-item {
      background: $gary2;
      border-bottom: 1px solid #e8e8e8;
      /*no*/
      padding: 35px 15px;
      line-height: 1.2;
    }
  }
  .shop-sub-menu {
    flex: 1;
    margin-right: 15px;
    overflow: auto;
    .shop-sub-list {
      .name {
        font-weight: 700;
        margin-right: 5px;
      }
      .shop-sub-item {
        display: flex;
        height: 152px;
        padding: 10px 20px 30px;
        .food-img {
          height: 152px;
          width: 152px;
          background: $gary1;
          margin-right: 20px;
          img {
            height: 152px;
            width: 152px;
          }
        }
        .food-detail {
          flex: 1;
          display: flex;
          flex-direction: column;
          .food-name {
            font-size: 28px;
            font-weight: 700;
          }
          .description {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #999;
            max-width: 360px; // display: inline-block;
            transform: scale(0.75);
            margin-left: -13%;
          }
          .sales {
            flex: 1;
            margin: 6px 0;
            display: inline-block;
            transform: scale(0.85);
            margin-left: -8.5%;
          }
          .price-wrap {
            display: flex;
            justify-content: space-between;
            .price {
              font-size: 28px;
              color: #f60;
            }
            .add-cart-btn,
            .decrease-cart-btn {
              display: inline-block;
              height: 42px;
              width: 42px;
              line-height: 40px;
              text-align: center;
              font-size: 40px;
              border-radius: 50%;
              border: 1px solid #999;
            }
            .choose-goods-btn{
              display: inline-block;
              height: 42px;
              border-radius: 21px;
              line-height: 40px;
              text-align: center;
              border: 1px solid #999;
              background: #0af;
              color: #fff;
              padding: 0 20px;
            }
            .goods-num {
              display: inline-block;
              width: 50px;
              text-align: center;
              line-height: 40px;
              font-size: 28px;
            }
            .add-cart-btn {
              background: #0af;
              color: #fff;
            }
          }
        }
      }
    }
  }
}