.user {
    padding: 0 28px;
    .head-icon {
        height: 96px;
        width: 96px;
        border-radius: 50%;
        overflow: hidden;
        background: #fff;
        color: #e1e1e7;
    }
    .avatar {
        height: 96px;
        width: 96px;
        border-radius: 50%;
        overflow: hidden;
        background: #fff;
        img {
            width: 180px;
            border-radius: 50%;
        }
    }
}