:global {
  
  .toast {
    // position: relative;
    display: flex;
    justify-content: center;
    padding: 0 50px;
    color: #fff;
    font-size: 28px;
    // z-index: 1001;
    .text {
      min-width: 150px;
      border-radius: 10px;
      padding: 20px 30px;
      text-align: center;
      background: rgba(0, 0, 0, 0.6);
    }
    .success{
        border-color:blue!important
    }
    .warn{
        border-color:yellow!important
    }
    .error{
        border-color:red!important
    }
  }
}
