.icon-birdxiaoniao:before {
  color: #3190e8;
  font-size: 28px;
  margin: 0 5px 0 30px;
}

.icon-finish::before {
  margin: 0 5px 0 30px;
}

.filter-nav {
  background: #fafafa;
  color: #333;
  .filter-wrap {
    .filter-item {
      margin: 20px 0;
    }
    .title {
      padding: 0 30px;
      margin-bottom: 15px;
      color: #666;
    }
    .content {
      background: #fff;
      border-top: 1px solid #e4e3e3; /*no*/
      border-bottom: 1px solid #e4e3e3; /*no*/
      display: flex;
      flex-flow: row wrap;
      .filter-activity {
        background: #eee;
        color: #3190e8 !important;
      }
      .more-filter {
        height: 70px;
        flex: 0 0 33.11%;
        display: flex;
        align-items: center;
        .activity-icon {
          height: 30px;
          width: 30px;
          border-radius: 5px;
          color: #fff;
          line-height: 30px;
          text-align: center;
          margin: 0 5px 0 30px;
        }
        .average-costs {
          margin-left: 30px;
        }
        .support-icon {
          height: 28px;
          width: 28px;
          border-radius: 5px;
          font-size: 24px;
          line-height: 28px;
          text-align: center;
          margin: 0 5px 0 30px;
          border-width: 1px; /*no*/
          border-style: solid;
        }
      }
    }
  }
  .filter-btn {
    display: flex;
    text-align: center;
    height: 86px;
    line-height: 86px;
    .clear-btn {
      flex: 1;
      background: #fff;
      border-top: 1px solid #e4e3e3;
    }
    .submit-btn {
      flex: 1;
      background: #68d962;
      color: #fff;
    }
  }
}
