.back-top {
  position: fixed;
  bottom: 200px;
  right: 30px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
  background: #fff;
  z-index: 998;
  border: 2px solid #666;
  .icon-huidaodingbu:before {
    font-size: 40px;
  }
}
