.footer{
    width:100%;
    height: 112px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    // border-top:1px solid #555;/*no*/
    color:#333 ;
    font-size:24px;
    z-index:9999;
    background: ghostwhite;
    a{
        color:#8e8e93;
        text-decoration: none;
    }
    .footer-split{
        height: 100%;
        background: linear-gradient(to bottom, #efefef, #333);
    }
    .footer-wrap{
        position: absolute;
        width:100%;
        height: 90px;
        background: #fff;
        bottom: 0;
        z-index: 2;
        display: flex;
        padding-top: 20px;
        .footer-item{
            flex:1;
            .icon-box{
                height: 49px;
                overflow: hidden;
            }
            .home-icon{
                .iconfont{
                    font-size: 44px;
                }
            }
            .discover-icon,.order-icon{
                .iconfont{
                    font-size: 44px;
                }
            }
            .my-icon{
                .iconfont{
                    font-size: 46px;
                }
            }
        }
        .active{
            color:#0089dc;
            .discover-icon, .order-icon{
                font-weight: bold;
            }
            
        }
    }
}
.box{
    height:80px;
}