.shop-list-title {
  display: flex;
  margin: 40px 0 20px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  .title-left,
  .title-right {
    width: 40px;
    height: 2px;
    background: #777;
  }
  .list-title {
    margin: 0 20px;
  }
}
