.shop-activity{
    display: flex;
    padding: 5px 0 10px 20px;
    color:#666;
    font-size: 24px;
    .activity-left{
        width: 128px;
    }
    .activity-right{   
        flex:1;
        .tag-line{  
            color:rgb(232, 71, 11);  
            border-bottom: 2px dotted rgb(231, 228, 228); 
            margin-bottom: 10px;
            .tag-container{
                padding: 10px 0; 
                img{
                    padding-top: 8px;
                    height: 20px;
                    width: 20px;;
                }
            }
            
        }
        .activities{
            display: flex;
            justify-content: space-between;
            .activity-list{
                flex:1;
                .shop-activity-item{
                    display: flex;
                    align-items: center;
                    .activity-icon{
                        display: inline-block;
                        height: 30px;
                        width: 30px;
                        text-align: center;
                        line-height: 30px;
                        color:#fff;
                        transform: scale(0.8);   
                    }
                    .activity-descripition{
                        line-height: 30px;
                        display: inline-block;
                        max-width: 360px;
                        overflow: hidden; 
                        text-overflow:ellipsis; 
                        white-space: nowrap;
                    }
                }
            }
            .activityBtn{
                display: flex;
                height: 32px;
                overflow: hidden;
                font-size: 24px;
                margin-top: -5px;
                .rotate180:before{
                    transition: All 0.4s ease-in-out;
                    display: inline-block;
                    transform: rotate(180deg);
                   
                }
                .rotate0:before{
                    transition: All 0.4s ease-in-out;
                    display: inline-block;
                    transform: rotate(0deg);
                }
                
            }
        }
    }
}